*{
    margin : 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.portfolio{
    background-color: red;
}

.barre-haute{
    display:grid;
    grid-template-columns: 200px 1fr;
    padding-top: 20px;
    background-color: lightgoldenrodyellow;
    padding-bottom: 10px;
}

.menu{
    text-align: right;
    width : 100%;
    display: flex;
    justify-content: space-between;
    color: black;
    list-style: none;
    text-decoration: none;
}

a{
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
    display: inline;
}

.oeuvre{
    font-size: 24px;
}

.decouvrir{
    display: grid;
    grid-template-rows: auto auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.découvrez{
    font-size: 72px;
}

.trouverez{
    font-size: 24px;
}

.portfolio-propos{
    background-color: #005A33;
    height: 247px;
}

.portfolio-titre{
    text-align: center;
    font-size: 48px;
    padding-top: 10px;
}

.propos{
    text-align: center;
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.description{
    padding-left: 60px;
    padding-right: 60px;
}

.body{
    background-color: #005A33;
}

.titre{
    text-align: center;
    font-size: 48px;
    padding-top: 20px;
}

.images{
    display: grid;
    grid-template-columns: repeat(3,388px);
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: center;
}

.image{
    height: 388px;
    width: 388px;
    border: 1px solid red;
}